# gitignore file for a project
*.log
*.tmp
*.bak
*.swp
*.DS_Store
*.class
*.exe
*.o
*.obj
*.dll

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo   

# Ignore virtual environments
*venv/
*.env
*.env.local
*.env.development
*.env.test
*.env.production

# Ignore IDE specific files
*.idea/
*.vscode/
*.sublime-workspace
*.sublime-project   

# Ignore build directories
*build/
*dist/
*node_modules/   
*db


*deploy*
fantacalcio-project-0191a57d85d2.json
frontend/.firebaserc
player_statistics_*
perf_metrics_*
*md
data/lineup/beginner_def_lineup_features.csv
data/lineup/beginner_fwd_lineup_features.csv
data/lineup/beginner_gk_lineup_features.csv
data/lineup/beginner_mid_lineup_features.csv
data/lineup/expert_def_lineup_features.csv
data/lineup/expert_fwd_lineup_features.csv
data/lineup/expert_gk_lineup_features.csv
data/lineup/expert_mid_lineup_features.csv
data/lineup/intermediate_def_lineup_features.csv
data/lineup/intermediate_fwd_lineup_features.csv
data/lineup/intermediate_gk_lineup_features.csv
data/lineup/intermediate_mid_lineup_features.csv
